<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf测试</title>
    <script  th:src="@{js/jquery-3.3.1.min.js}"></script>

    <script type="text/javascript">

    </script>
</head>
<body>
<tr th:each="person:${persons}">
    <!--判断成绩-->
    <td th:text="${person.name}"></td>
    <td th:text="${person.address}"></td>
    <td th:text="${person.job}"></td>
</tr>

  <h1>index Page</h1>
   <a th:href="@{privilege.html}">access privilege.html</a>

<form action="form" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/> <br/>
    <input type="submit" value="上传">
</form>
</body>
</html>